body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

#search-query {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}

#graph {
    width: 100%;
    height: 600px;
    margin: auto;
}